<<<<<<< HEAD
/* Main Background */
.stApp{
=======
.stApp {
<<<<<<< HEAD
    background: linear-gradient(135deg, #b00bdd, #884bd7);
=======
>>>>>>> 10e204914c61ed8ccbd1c7d246d882410804dad7
    background: linear-gradient(
        135deg,
        #f8fffe,
        #e0f7fa,
        #e8f5e9
    );
>>>>>>> e7d31a7371395a12437fbdbcff23210fe7d2c14d
}

/* Hero Card */
.auth-card{
<<<<<<< HEAD
    background:white;
=======
    background:rgba(71, 115, 148, 0.916);
>>>>>>> 10e204914c61ed8ccbd1c7d246d882410804dad7
    border-radius:25px;
    padding:40px;
    box-shadow:0px 15px 35px rgba(0,0,0,0.08);
    border:1px solid #dbeafe;
}

/* Main Title */
.main-title{
    text-align:center;
    font-size:58px;
    font-weight:800;
    color:#0f172a;
}

/* Subtitle */
.sub-title{
    text-align:center;
<<<<<<< HEAD
    color:#475569;
=======
    color:#556d8e;
>>>>>>> 10e204914c61ed8ccbd1c7d246d882410804dad7
    font-size:20px;
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background:linear-gradient(
        180deg,
        #14b8a6,
        #0284c7
    );
}

section[data-testid="stSidebar"] *{
    color:white;
}

/* Sidebar Cards */
.sidebar-user{
    background:rgba(255,255,255,0.15);
    padding:15px;
    border-radius:12px;
}

/* Buttons */
.stButton button{
    background:linear-gradient(
        90deg,
<<<<<<< HEAD
        #14b8a6,
        #0ea5e9
    );

    color:white;
=======
        rgba(55, 14, 61, 0.916),
        rgba(216, 93, 227, 0.916)
    );
    color:rgb(86, 58, 10);
>>>>>>> 10e204914c61ed8ccbd1c7d246d882410804dad7
    border:none;
    border-radius:12px;
    height:50px;
    font-size:18px;
    font-weight:600;

    transition:0.3s;
}

.stButton button:hover{
    transform:translateY(-2px);
    box-shadow:0px 8px 20px rgba(14,165,233,0.3);
}

/* Metric Cards */
[data-testid="metric-container"]{
    background:white;
    border-radius:18px;
    padding:20px;

    border-left:5px solid #14b8a6;

    box-shadow:
        0px 5px 15px rgba(0,0,0,0.08);
}

/* Charts */
.stPlotlyChart{
    background:white;
    padding:20px;
    border-radius:18px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.08);
}

/* DataFrames */
[data-testid="stDataFrame"]{
    background:white;
    border-radius:18px;
    padding:10px;
}

/* Success Box */
.stSuccess{
    border-radius:12px;
}

/* Prediction Result Card */
.result-card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.08);
}